<%= form_with(model: email) do |form| %>
  <% if email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
        <% email.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :to, "受取人" %>
    <%= form.text_field :to %>
  </div>

  <div class="field">
    <%= form.label :from, "差出人" %>
    <%= form.text_field :from %>
  </div>

  <div class="field">
    <%= form.label :subject, "メールタイトル" %>
    <%= form.text_field :subject %>
  </div>

  <div class="field">
    <%= form.label :body, "メール内容" %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :sent_at, "送信時間の設定" %>
    <%= form.datetime_select :sent_at %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "メール送信" %>
  </div>
  <br>
<% end %>
