<p id="notice"><%= notice %></p>

<p>
  <strong>受取人:</strong>
  <%= @email.to %>
</p>

<p>
  <strong>差出人:</strong>
  <%= @email.from %>
</p>

<p>
  <strong>メールタイトル:</strong>
  <%= @email.subject %>
</p>

<p>
  <strong>メール内容:</strong>
  <%= @email.body %>
</p>

<p>
  <strong>メールの送信時間:</strong>
  <%= @email.sent_at %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
